In [40]:
import datetime
import numpy as np
import pandas as pd
import plotly.graph_objs as go
import plotly.plotly as py

from ipywidgets import widgets
from IPython.display import display, clear_output, Image
from plotly.widgets import GraphWidget
import plotly

In [41]:
df = pd.read_csv('clean.csv',parse_dates=['date'])

In [42]:
plotly.offline.init_notebook_mode(connected=True)

In [43]:
df.head()

,Unnamed: 0,APMC,Commodity,Year,Month,arrivals_in_qtl,min_price,max_price,modal_price,date,district_name
0,0,ahmednagar,bajri,2015,April,79.0,1406.0,1538.0,1463.0,2015-04-01,Ahmadnagar
1,1,ahmednagar,bajri,2016,April,106.0,1788.0,1925.0,1875.0,2016-04-01,Ahmadnagar
2,2,ahmednagar,wheat(husked),2015,April,1253.0,1572.0,1890.0,1731.0,2015-04-01,Ahmadnagar
3,3,ahmednagar,wheat(husked),2016,April,387.0,1750.0,2220.0,1999.0,2016-04-01,Ahmadnagar
4,4,ahmednagar,sorgum(jawar),2015,April,3825.0,1600.0,2200.0,1900.0,2015-04-01,Ahmadnagar

In [44]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.sort_values(by='date',inplace=True)

In [45]:
#month = widgets.IntSlider(value=1.0, min=1.0,max=12.0,step=1.0,description='month ',continuous_update=False)
year  = widgets.IntSlider(value=2014,min=2014,max=2016,step=1.0,description='year ',continuous_update=True)
use_date = widgets.Checkbox(description='Date: ',value=True)

In [46]:
container = widgets.VBox(children=[use_date,year])

In [47]:
commodity = widgets.Dropdown(description='Commodity:   ',value='onion', options=df['Commodity'].sort_values().unique().tolist())
apmc = widgets.Dropdown(options = list(df['APMC'].sort_values().unique()),value='pune',description='APMC name: ')
g = GraphWidget('https://plot.ly/~vipuljoshi92/19')

In [48]:
trace1 = go.Scatter(x=df['date'],y=df['min_price'],name='Minimum Price')
trace2 = go.Scatter(x=df['date'],y=df['modal_price'],name='Modal Price')
trace3 = go.Scatter(x=df['date'],y=df['max_price'],name='Maximum Price')

g = go.FigureWidget(data=[trace1, trace2,trace3],
                    layout=go.Layout(
                        title=dict(
                            text='Maharashtra Mandi Database'
                        )
                    ))

In [49]:
def validate():
    if commodity.value in df['Commodity'].unique() and apmc.value in df['APMC'].unique():
        return True
    else:
        return False


def response(change):
    if validate():
        if use_date.value:
            filter_list = [i and j and k for i, j, k in
                           zip(df['Commodity'] == commodity.value,
                               df['APMC'] == apmc.value,
                               df['Year'] == year.value)]
            temp_df = df[filter_list]
            x1 = temp_df['date']
            x2 = x1
            x3 = x1
            y1 = temp_df['min_price']
            y2 = temp_df['modal_price']
            y3 = temp_df['max_price']
            
        else:
            filter_list = [i and j for i, j in
                           zip(df['APMC'] == 'pune', df['Commodity'] == commodity.value)]
            temp_df = df[filter_list]
            x1 = temp_df['date']
            x2 = x1
            x3 = x1
            y1 = temp_df['min_price']
            y2 = temp_df['modal_price']
            y3 = temp_df['max_price']
            
        with g.batch_update():
            g.data[0].x = x1
            g.data[1].x = x1
            g.data[2].x = x1
            g.data[0].y = y1
            g.data[1].y = y2
            g.data[2].y = y3
            g.layout.xaxis.title = 'Date'
            g.layout.yaxis.title = 'Price'
            #g.barmode='overlay'

year.observe(response, names="value")
commodity.observe(response, names="value")
apmc.observe(response, names="value")
use_date.observe(response, names="value")

In [50]:
container2 = widgets.HBox([apmc,commodity])

In [51]:
display(container)
display(container2)
display(g)

VBox(children=(Checkbox(value=True, description='Date: '), IntSlider(value=2014, description='year ', max=2016…

HBox(children=(Dropdown(description='APMC name: ', index=256, options=('aamgaon', 'aarni', 'achalpur', 'aheri'…

FigureWidget({
    'data': [{'name': 'Minimum Price',
              'type': 'scatter',
              'uid': '8…